---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
---

<Layout title="QR Doorbell">
	<main>
		<div class="main" id="main">
			<Main/>
		</div>
	</main>
</Layout>